.maze-table {
	text-align:center;
	border-spacing: 0px;
}

.maze-table td {
	height : 50px;
	width: 50px;
}

.td-wall {
	color:white;
	background-color: black;
}

.td-entrance {
	background-color: green;
}

.td-exit {
	background-color: red;
}

.snakecell {
	background-color: blue;
}